<html>
	<head>
		<title><%= message %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	</head>

	<body bgcolor="#DDDDDD">
  	<div style="position:absolute;left:70px;top:25px;"><a href="/"><img src="/images/404_2.jpg"  alt="oh man!" border="0"></a><%= message %></div>
	</body>
</html>
